# server packages
# Flask

# deep learning pakages
# nemo_toolkit[all]==0.11.0
nemo_toolkit[all]==1.0.0b2
sentence-transformers
# transformers==3.0.2
# finetune
# pytorch-lightning
farm-haystack


# others
numpy
pandas
xlrd
opencc
tqdm
annoy
redis
networkx

# dev
googletrans
pycantonese
# jieba
# six
